@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vollkorn&display=swap');

  *, *::before, *::after {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 24px;
  }
}

body {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 35rem;
  width: 35rem;
  margin: auto;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../img/background.svg);
  background-size: cover;
  border-radius: 1rem;
  padding: .5rem;
  overflow: hidden;
  position: relative;
  
  --dark-purple: #502A51;
  --light-yellow: #FFCB47;
  --sea-green: #59CBAF;
  --light-red: #F7AC98;
}

.wrapper {
  height: 100%;
}